//font
$primary-font-family: 'Roboto', sans-serif;

// text color
$color-menu: rgb(110, 187, 177);
$color-text: #373737;

//background color
$backround-color-btn: rgb(110, 187, 177);
$backround-color-btn-hover: rgb(110, 130, 187);