// @import 'base';

* {
    box-sizing: border-box;
    // font-family: $primary-font-family;
}


html {
    scroll-behavior: smooth;
  }

body {
    --bs-offcanvas-width: 200px;
}

.offcanvas {
    width: var(--bs-offcanvas-width);
}

.card-title {
    height: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    // &:hover { 
    //     // overflow: visible;
    //     // text-overflow: unset;        
    //     content: attr(data-title2); 
    //     background-color: red;
    //    }  
    // &:after { 
    // // overflow: visible;
    // // text-overflow: unset;        
    // content: attr(data-title); 
    // background-color: blueviolet;
    // }           
    // &:hover {
    //     overflow: visible;
    //     text-overflow: unset;
    //     white-space: normal;
    //     height: auto;
    //   }    
}

img {
	max-width: 100%;
	height: auto;
}

section {
	padding: 50px 0;
}

a {
	color: #111;
}

a:hover {
	color: #555;
}

/* Header */
.navbar-light .navbar-nav .nav-link {
	color: #111;
	font-weight: 500;
	text-transform: uppercase;
}

.navbar-nav .dropdown-menu {
	right: 0;
	left: auto;
}

.top-menu li a::after {
	content: '';
	display: block;
	width: 100%;
	background-color: #111;
	height: 1px;
	transition: all .3s;
	transform: scale(0);
}

.top-menu li a:hover::after {
	transform: scale(1);
}
/* Header */