// @import 'base';

* {
    box-sizing: border-box;
    // font-family: $primary-font-family;
}


html {
    scroll-behavior: smooth;
  }

body {
    --bs-offcanvas-width: 200px;
}

.offcanvas {
    width: var(--bs-offcanvas-width);
}
